# get real credentials with the QA team and place them in .env file

USER_EMAIL=email@email.com
USER_PASSWORD=password
CREDIT_CARD_NUMBER=0
INVALID_CREDIT_CARD_NUMBER=0
CREDIT_CARD_EXPIRATION_DATE=xx/yy
CREDIT_CARD_SECURITY_CODE=000